<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the Dev Community</h1>
    <h3>About Us</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      dignissimos iure ipsa, deleniti modi iste labore commodi, consectetur
      architecto molestias cum placeat rem eveniet distinctio. Amet illum
      corrupti ipsa, doloribus tempore, aspernatur vero quibusdam autem quaerat
      modi at, mollitia accusantium maiores provident explicabo excepturi magnam
      facere quis a! Exercitationem, veritatis!\
    </p>
    <h4>Toatal Price is : <%= 4+4 %></h4>

    <button>Join Now</button>
  </body>
</html>
