<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
  </head>
  <body>
    <h1>This Page Belongs to @<%= username %></h1>
    <button style="background-color: blue; padding: 10px 25px; color: white; border-radius: 10px;">Follow</button>
    <button style="background-color: pink; padding: 10px 25px; color: black; border-radius: 10px;">Message</button>

    <h2>Accounts that follow you</h2>

    <!-- Using Loop -->
    <ul>
      <% for(let name of followers){%>
      <li><%= name %></li>

      <% } %>
    </ul>
  </body>
</html>
